@page
@model Musik_Affär.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Skapa ny produkt</h1>

<partial name="_CreateEdit" for="Product" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
