@page "{id:int}"
@model Musik_Affär.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Produktnamn: @Model.Product.Name</h1>

<partial name="_DetailsDelete" for="Product"/>

<a asp-page="./Edit" asp-route-id="@Model.Product.ID">Ändra</a> |
<a asp-page="./Index">Tillbaka till produkter</a>
        