@page "{id:int}"
@model Musik_Affär.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Ändra produktdetaljer</h1>

<h4>Justera värden efter behov nedan</h4>

<partial name="_CreateEdit" for="Product" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
