@page "{id:int}"
@model Musik_Affär.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Ändra</h1>

<h4>Produkt</h4>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Product.Name" class="control-label"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Category" class="control-label"></label>
        <select asp-for="Product.Category" class="form-control" 
        asp-items="Html.GetEnumSelectList<Musik_Affär.Models.Product.Type>()">
        <option value="">@Model.SelectedCategory</option></select>
        <span asp-validation-for="Product.Category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Color" class="control-label" name="color"></label>
        <select asp-for="Product.Color" class="form-control"
        asp-items="Html.GetEnumSelectList<Musik_Affär.Models.Product.Style>()">
        <option value="">@Model.SelectedColor</option></select>
        <span asp-validation-for="Product.Color" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price" class="control-label"></label>
        <input asp-for="Product.Price" class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Brand" class="control-label"></label>
        <select asp-for="Product.Brand" class="form-control"
        asp-items="Html.GetEnumSelectList<Musik_Affär.Models.Product.Manufacturer>()">
        <option value="">@Model.SelectedBrand</option>></select>
        <span asp-validation-for="Product.Brand" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Skapa" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
