@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<section class="welcome-page">
    <img src="~/media/Logo.png" alt="Logo" />
    <h1>Välkommen</h1>
    <p>Till Johan & Jonas Musikaffär</p>
</section>
