@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Till Johan & Jonas Inlämning Nr.3</p>
    <h2>MUSIKAFFÄREN</h2>
</div>
