@page
@model Musik_Affär.Pages.Carts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="val-text"></div>
            <div class="form-element">
                <label asp-for="Cart.UserID" class="form-label"></label>
                <select asp-for="Cart.UserID" class ="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            <div class="form-element">
                <input type="submit" value="Create" class="submit-btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
