@page "{id:int}"
@model Musik_Affär.Pages.Carts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Produktnamn: @Model.Product.Name</h1>
<hr />
<partial name="../Products/_DetailsDelete" for="Product"/>
<hr />
<a asp-page="../Carts/Index">Tillbaka till min kundkorg</a>
