@page "{id:int}"
@model Musik_Affär.Pages.Reviews.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Betygsätt @Model.Product.Name</h1>

<h4>Välj ett betyg, 1-5 och klicka sedan på skapa</h4>
<hr />
<partial name="Products/_DetailsDelete" for="Product" />
<hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="val-text"></div>
        <div class="form-element">
            <label asp-for="Review.Grade" class="form-label"></label>
            <input asp-for="Review.Grade" class="form-control" type="number" max="5" min="1" />
            <span asp-validation-for="Review.Grade" class="val-text"></span>
        </div>
        @* <div class="form-element">
            <label asp-for="Review.UserID" class="form-label"></label>
            <input asp-for="Review.UserID" class ="form-control" value=""/>
        </div>*@
        <div class="form-element">
            <input type="submit" value="Skapa" class="submit-btn" />
        </div>
    </form>


<div>
    <a asp-page="../Products/Index">Tillbaka till produkter</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
