
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Musik_Affär</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header">
        <nav>
            <img src="~/media/logo.png" alt="Gitarr hjältarna" />
            <ul class="nav-links">
                <li>
                    <a class="nav-link" asp-area="" asp-page="/Index">Start</a>
                </li>
                <li>
                    <a class="nav-link" asp-page="/Products/Index">Produkter</a>
                </li>
                 @if (User.Identity.IsAuthenticated){
                    <li>
                        <a class="nav-link" asp-page="/Reviews/Index">Mina Recensioner</a>
                    </li>
                     <li>
                        <a class="nav-link" asp-page="/Carts/Index">Min Kundvagn(<partial name="_itemsInCart" /> )</a>
                    </li>
                }
                    <li><partial name="_LoginPartial" /></li>
            </ul>
        </nav>
    </header>

    <main role="main">
        @System.Globalization.CultureInfo.CurrentUICulture
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="footer">
        &copy; 2022 - Jonas &amp; Johan
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
