<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Musik_Affär</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div>
            <ul class="nav-links" style="display:inline">
                <li>
                    <a class="nav-link" asp-area="" asp-page="/Index">Start</a>
                </li>
                <li>
                    <a class="nav-link" asp-page="/Products/Index">Produkter</a>
                </li>
                @*<li>
                    <a asp-page="/Reviews/Index">Recensioner</a>
                </li>*@
                 <li>
                    <a class="nav-link" asp-page="/Carts/Index">Kundvagn</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Musik_Affär
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
